.button {
    position: relative;
    /* background-color: #4CAF50; */
    background: -webkit-linear-gradient(to right, #F54EA2, #FF7676);  
    background: linear-gradient(to right, #F54EA2, #FF7676);
    border: none;
    font-size: 15px;
    color: #FFFFFF;
    padding: 10px;
    width: 14rem;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  .button:after {
    content: "";
    /* background: #90EE90; */
    /* background: -webkit-linear-gradient(to right, #7F00FF, #E100FF);   */
    /* background: linear-gradient(to right, #7F00FF, #E100FF);  */
    background: -webkit-linear-gradient(to right, #f568ae, #ff7c7c);  
    background: linear-gradient(to right, #f568ae, #ff7c7c);
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.9s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
