/* #leagueStyle{
    border: 1px solid black;
    align-items: center; */
    /* justify-content: center; */
    /* border-radius: 10px;
    margin-top: 10px;
    background-color: white;
    width: 250px; */
 /* } */
.productPage{
    display: grid;
    place-items: center;
} 

.btn-dark-blue {
    background: #7474BF;  
    background: -webkit-linear-gradient(to right, #7F00FF, #E100FF);  
    background: linear-gradient(to right, #7F00FF, #E100FF); 
    color: white;
    border: 3px solid #eee;
    /* #FEB692, #EA5455 */
    /* ABDCFF  0396FF */
    /* 7F00FF  E100FF */
} 



